#space {
  background-attachment: fixed;
  background-color: #31708f;
  background-size: cover;
  background-image: url("/images/space.jpg");
  background-blend-mode: luminosity;
}
/*#lights {
  background: white;
  background-size: cover;
  background-image: url("/images/lights.jpg");
}*/
/* fixes side padding in portfolio container*/
.no-pad {
  padding: 0 !important;
}
/* removes white line at the top of portfolio cards*/
.pmd-card {
  padding-top: 0;
}
#header-text {
  color: black !important;
}
/*switch colors*/
.pmd-switch label input[type="checkbox"]:checked + .pmd-switch-label, .togglebutton-default label input[type="checkbox"]:checked + .pmd-switch-label { background-color: rgba(201, 32, 74, 0.5);}
.pmd-switch label input[type="checkbox"]:checked + .pmd-switch-label::after, .togglebutton-default label input[type="checkbox"]:checked + .pmd-switch-label::after { background-color: #c9204a;}
