<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/propeller.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/propeller.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="js/ang.js"></script>
    <title>ASEP Time-Clock</title>
  </head>
  <body ng-controller="indCtrl as ind">
    <header class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="pmd-display1 text-center">Time-Clock <small>ASEP Design</small></h1>
        </div>
      </div>
    </header>
    <!-- login card -->
    <section class="container" ng-if="!ind.userObj">
      <div class="row">
        <form class="form-horizontal" action="/login" method="post">
          <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label>User</label>
                    <select required class="select-simple form-control pmd-select2" name="lname">
                      <option></option>
                      <option ng-repeat="d in ind.data" value="{{ d.user }}">{{ d.fullName }}</option>
                    </select>
                  </div>
                  <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label class="control-label">Password</label>
                    <input class="form-control" type="password" name="lpass">
                  </div>
                </div>
              </div>
            </div>
            <div class="pmd-card-actions">
              <button type="submit" class="btn btn-primary pmd-btn-ripple-effect pmd-btn-flat">Log In</button>
              <button data-target="#register" data-toggle="modal" class="btn pmd-ripple-effect pmd-btn-flat btn-success" type="button">New User</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!-- verified log in -->
    <div class="container" ng-if="ind.userObj">
      <div class="row">
        <div class="pmd-card pmd-card-default pmd-z-depth" ng-controller="clockCtrl as clock">
          <!-- header -->
          <div class="pmd-card-title">
            <h2 class="pmd-card-title-text">{{ ind.userObj.user }}
              <span class="pmd-card-subtitle-text"></span>
            </h2>
          </div>
          <!-- body -->
          <div class="pmd-card-body">
            <table class="table pmd-table">
              <thead>
                <tr>
                  <th>note</th>
                  <th>start</th>
                  <th>end</th>
                  <th>total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in clock.list">
                  <td>{{ item.note }}</td>
                  <td>{{ item.start | date : 'mediumTime' }}</td>
                  <td>{{ item.end | date : 'mediumTime' }}</td>
                  <td>{{ item.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- actions -->
          <div class="pmd-card-actions">
            <button type="button" ng-class="clock.status.style"
            data-target="#clockin" data-toggle="modal"
            class="btn pmd-ripple-effect pmd-btn-flat">{{ clock.status.text}}</button>
            <button type="button" class="btn btn-default pmd-ripple-effect pmd-btn-flat">Show Logs</button>
          </div>
        </div>
      </div>
    </div>

<!-- modals -->
<!-- register modal -->
<div tabindex="-1" class="modal fade" id="register" style="display: none;" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header pmd-modal-bordered">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
				<h2 class="pmd-card-title-text">Registration Form</h2>
			</div>
      <form class="form-horizontal" action="/register" method="post">
  			<div class="modal-body">
					<div class="form-group pmd-textfield pmd-textfield-floating-label">
						<label>First and Last Name</label>
						<input type="text" class="mat-input form-control" name="rname">
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
						<label>Username</label>
						<input type="text" class="mat-input form-control" name="ruser">
          </div>
					<div class="form-group pmd-textfield pmd-textfield-floating-label">
						<label>Password</label>
						<input type="password" class="mat-input form-control" name="rpass">
          </div>
        </div>
  			<div class="pmd-modal-action">
  				<button class="btn pmd-ripple-effect btn-primary" type="submit">Save changes</button>
  				<button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default" type="button">Discard</button>
  			</div>
      </form>
		</div>
	</div>
</div>
<!-- clockin modal -->
<div tabindex="-1" class="modal fade" id="clockin" style="display: none;" aria-hidden="true">
	<div class="modal-dialog" ng-controller="clockCtrl as clock">
		<div class="modal-content">
      <form class="form-horizontal" action="/clock" method="post">
        <!-- body -->
  			<div class="modal-body">
          <div class="form-group pmd-textfield col-sm-6">
            <label class="control-label">User</label>
            <input type="text" readonly="" value="{{ ind.userObj.user }}" class="mat-input form-control">
          </div>
          <div class="form-group pmd-textfield col-sm-6">
            <label class="control-label">User ID</label>
            <input type="text" readonly="" value="{{ ind.userObj._id }}" name="clUserId" class="mat-input form-control">
          </div>
          <div class="form-group pmd-textfield col-sm-12" ng-if="!clock.status.active">
            <label class="control-label">Note</label>
            <input type="text" class="form-control" name="clNote">
          </div>
          <div class="form-group pmd-textfield col-sm-6" ng-if="clock.status.active">
            <label class="control-label">Note</label>
            <input type="text" readonly="" value="{{ clock.active.note }}" class="mat-input form-control">
          </div>
          <div class="form-group pmd-textfield col-sm-6" ng-if="clock.status.active">
            <label class="control-label">Start Time</label>
            <input type="text" readonly="" value="{{ clock.active.start | date : 'mediumTime' }}" class="mat-input form-control">
          </div>
        </div>
        <!-- actions -->
  			<div class="pmd-modal-action col-xs-12">
          <button type="submit" ng-class="clock.status.style"
          class="btn pmd-ripple-effect pmd-btn-flat">{{ clock.status.text}}</button>
  				<button data-dismiss="modal"  class="btn pmd-ripple-effect btn-default" type="button">Nevermind</button>
  			</div>
        <div class="clearfix"></div>
      </form>
		</div>
	</div>
</div>

  </body>
</html>
